<div class="bg-theme p-5">
  <div class="container pt-3">
    <h1 class="text-white">{{ categoryName }}</h1>
    <p class="text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, officia?
    </p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div
    *ngIf="isLoading; else categoryPostsList"
    class="text-white text-center font-weight-bold"
  >
    <p>posts loading ...</p>
  </div>
  <ng-template #categoryPostsList>
    <div class="row">
      <div
        *ngFor="let categoryPost of categoryPosts$ | async"
        class="col-lg-3 mt-3"
      >
        <app-post-card [postData]="categoryPost"></app-post-card>
      </div>
    </div>
  </ng-template>
</div>
