<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <div *ngIf="isLoading; else categoryList">
        <!-- show loading spinner or placeholder -->
        Loading categories...
      </div>
      <ng-template #categoryList>
        <ul class="navbar-nav">
          <li
            *ngFor="let category of categories$ | async"
            class="nav-item ml-3"
          >
            <a
              class="nav-link"
              [routerLink]="['/category', category.data.category, category.id]"
              >{{ category.data.category }}</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
