<div class="card mt-3 shadow-effect">
  <div class="card-body">
    <h4>leave a comment</h4>
    <p>you can leave a comment with this form</p>

    <form>
      <div class="form-group">
        <label for="for">Name</label>
        <input
          type="text"
          class="form-control shadow-effect"
          placeholder="Enter your Name Here"
        />
      </div>

      <div class="form-group">
        <label for="for">Comment</label>
        <textarea
          class="form-control shadow-effect"
          cols="30"
          rows="10"
          placeholder="Add Your Comment Here"
        >
        </textarea>
      </div>

      <button class="btn btn-info btn-theme">Add Comment</button>
    </form>
  </div>
</div>
