<section class="featured-section pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-white mt-5">Featured Posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div
      *ngIf="isFeaturedLoading; else featuredPostsList"
      class="text-white text-center font-weight-bold"
    >
      <p>featured posts loading ...</p>
    </div>
    <ng-template #featuredPostsList>
      <div class="row">
        <div
          *ngFor="let featuredPost of featuredPosts$ | async"
          class="col-lg-3 mt-3"
        >
          <app-post-card [postData]="featuredPost"></app-post-card>
        </div>
      </div>
    </ng-template>
  </div>
</section>
<section class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h2>Latest Posts</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 mt-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>
