/* You can add global styles to this file, and also import other style files */
/* bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #026467 !important;
  --secondary-color: #e5f5ea !important;
  --body-text-color: #596392 !important;
  --navbar-footer-color: #f9f9f9 !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
}
.site-logo {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.nav-link {
  color: var(--body-text-color);
}

.shadow-effect {
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
  border: none;
}

.bg-theme {
  background-color: var(--primary-color);
}
