/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: #026467 !important;
  --secondary-color: #e5f5ea !important;
  --body-text-color: #596392 !important;
  --navbar-footer-color: #f9f9f9 !important;
}
