<div class="card shadow-effect" *ngIf="postData">
  <img
    [src]="postData.data.postImage.URL"
    alt="postData-img"
    class="card-img-top"
    height="200"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      postData.data.category.category
    }}</small>
    <small
      *ngIf="postData.data.isFeatured"
      class="bg-light text-successful text-center ml-3"
      >Featured</small
    >
    <small class="bg-light text-info text-center ml-3"
      >Views - {{ postData.data.views }}</small
    >

    <h5 class="mt-1">{{ postData.data.title }}</h5>

    <p>
      {{ postData.data.excerpt }}
    </p>

    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - {{ postData.data.createdAt.toMillis() | date }}</small
    >
  </div>
</div>
